.card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.cardImage {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex: 1 0 auto;
}

.cover {
    width: 150px;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.delete {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.ribbon {
    z-index: 3;
    font: 15px Sans-Serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgba(238, 232, 232, 0.5) 0px 1px 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -28px;
    top: 32px;
    width: 90px;
    color: #f3f2ef;
    background-color: #6e8900;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon :before,
.ribbon :after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon :before {
    left: 0;
}

.ribbon :after {
    right: 0;
}

.overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.overlayText {
    color: #f3f2ef;
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    width: 450px;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s ease-out;
    transition-delay: 0.2s;
}
.overlay:after {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #1c2455e8;
    opacity: 0;
    transition: all 0.1s ease-out;
    height: 100%;
}
.overlay:hover:after {
    opacity: 0.7;
}
.overlay:hover .overlayText {
    transform: translateY(-50%);
    opacity: 1;
}
